# SO/Editor
.DS_Store
*.swp
.vscode/

# yarn/npm lock opcional según tu flujo
# Si usás npm, quedate con package-lock.json
# Si NO querés lockfiles, ignorarlos (no recomendado para producción)
# package-lock.json
# yarn.lock
